<!DOCTYPE>
<html>
    <head>
        <style>
            h1 {text-align: center;}
            h2 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
        </style>
        <title> Home page </title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    </head>
    <body>
        <h1 class="title"> URL Shortener </h1>
        <p> Paste in the URL you want to shorten below! </p>
        <div>
            <form>
                <input type="text">
            </form>
            <button> Shorten </button>
        </div>
    </body>
</html>